.titleFontCampingHistory {
  margin: 0 auto;
  margin-bottom: 20px;
  height: 60px;
  line-height: 80px;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  width: 130px;
  border-bottom: 2px solid black;
}
.contentsCampingHistory {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 8px;
}
.contensNameCampingHistory {
  padding-left: 5%;
  padding-top: 5%;
  font-size: 25px;
}
.contentsStoryCampingHistory {
  display: flex;
  margin: 0 auto;
  padding: 3%;
  width: 90%;
}
.contentsImgCampingHistory {
  width: 30%;
  height: 120px;
}
.contentsImgCampingHistory img {
  width: 80%;
}
.contentstableCampingHistory {
  margin: 0 auto;
  margin-left: 12px;
  width: 70%;
}
.contentstableCampingHistory tr td {
  padding: 0;
}
.contentsHeadTitleCampingHistory {
  width: 70px;
  text-align: center;
}
.contentsIconCampingHistory {
  text-align: center;
}
.mediaWrapCampingHistoryDeskFlex {
  width: 100%;
}
.wholeWrapMyPageMedia {
  display: none;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .wholeWrapMyPageMedia {
    display: block;
  }
  .mediaWrapCampingHistoryDeskFlex {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
  }
  .campingHistoryMypageWrap {
    width: 50%;
    height: 80vh;
  }
  .wholeWrapCampingHistory {
    display: block;
    width: 50%;
    height: 80vh;
    top: 10px;
    position: absolute;
    right: 0;
    box-shadow: 0px 0px 1px 1px lightgray;
    border-radius: 10px;
    overflow: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .mediaWrapCampingHistoryDeskFlex {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .wholeWrapMyPageMedia {
    width: 40%;
    height: 100%;
    text-align: center;
    display: inline-block;
  }
  .wholeWrapCampingHistory {
    width: 60%;
    box-shadow: 0px 0px 1px 1px lightgray;
    border-radius: 10px;
    margin-top: 10px;
    height: 80vh;
    overflow: auto;
    /* position: sticky; */
    right: 0;
  }
}
