.subscriberTable {
  font-size: 15px;
}
.showCampName:hover {
  background-color: var(--secondary-color);
}
.showCampName {
  text-align: left;
  border-bottom: 2px solid var(--secondary-color);
  width: 85%;
  margin: 10px auto;
  padding: 0 2.5%;
}

.wholeWrapMyPageMedia {
  display: none;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .wholeWrapMyPageMedia {
    width: 40%;
    height: 100%;
    text-align: center;
    display: inline-block;
  }
  .mediaWrapCampingHistoryDeskFlex {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
  }
  .campingHistoryMypageWrap {
    width: 50%;
    height: 80vh;
  }
  .wholeWrapCampingHistory {
    display: block;
    width: 50%;
    height: 80vh;
    top: 10px;
    position: absolute;
    right: 0;
    box-shadow: 0px 0px 1px 1px lightgray;
    border-radius: 10px;
    overflow: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .mediaWrapCampingHistoryDeskFlex {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .wholeWrapMyPageMedia {
    width: 40%;
    height: 100%;
    text-align: center;
    display: inline-block;
  }
  .wholeWrapCampingHistory {
    width: 60%;
    box-shadow: 0px 0px 1px 1px lightgray;
    border-radius: 10px;
    margin-top: 10px;
    height: 80vh;
    overflow: auto;
    /* position: sticky; */
    right: 0;
  }
}
