.titleFontLikeCamping {
  margin: 0 auto;
  margin-bottom: 20px;
  height: 60px;
  line-height: 80px;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  width: 150px;
  border-bottom: 2px solid black;
}
.contentsLikeCamping {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 90%;
  border: none;
  border-radius: 10px;
}
.contentsImgLikeCamping img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.contentsTextLikeCamping {
  height: 95px;
  padding: 15px;
  overflow: scroll;
}
.contentsRowFlexLikeCamping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contentsNameLikeCamping {
  font-size: 25px;
}
.contentsHeartLikeCamping {
  width: 50px;
}
.contentsInfoLikeCamping {
  color: gray;
  font-size: 20px;
}
.wholeWrapMyPageMedia {
  display: none;
}
.wholeWrapLikeCamping {
  width: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .wholeWrapMyPageMedia {
    display: block;
  }
  .mediaWrapCampingHistoryDeskFlex {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 80vh;
  }
  .campingHistoryMypageWrap {
    width: 50%;
    height: 80vh;
  }
  .wholeWrapCampingHistory {
    display: block;
    width: 50%;
    height: 80vh;
    top: 10px;
    position: absolute;
    right: 0;
    box-shadow: 0px 0px 1px 1px lightgray;
    border-radius: 10px;
    overflow: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .wholeWrapMyPageMedia {
    display: block;
  }
  .mediaWrapCampingHistoryDeskFlex {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
  }
  .campingHistoryMypageWrap {
    width: 50%;
    height: 80vh;
  }
  .wholeWrapCampingHistory {
    display: block;
    width: 50%;
    height: 80vh;
    top: 10px;
    position: absolute;
    right: 0;
    box-shadow: 0px 0px 1px 1px lightgray;
    border-radius: 10px;
    overflow: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .mediaWrapCampingHistoryDeskFlex {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .wrapMypageDeskFlex {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 100%;
    text-align: center;
    display: inline-block;
  }
  .wholeWrapCampingHistory {
    width: 60%;
    box-shadow: 0px 0px 1px 1px lightgray;
    border-radius: 10px;
    margin-top: 10px;
    height: 80vh;
    overflow: auto;
    /* position: sticky; */
    right: 0;
  }
}
